{% from '_macros' import image, playersByPosition %}
{% set page_title = entry.title %}
{% extends '_base' %}
{% block content %}
{% set players = craft.entries.section( 'players' ).relatedTo( entry ).order( 'totalPoints desc' ) %}
{% set goalkeepers = players.type( 'gk' ) %}
{% set defenders = players.type( 'def' ) %}
{% set midfielders = players.type( 'mid' ) %}
{% set forwards = players.type( 'fwd' ) %}
<div class="section section--bordered">
	<div class="container">
		{% if entry.crest|length %}
			{{ image( entry.crest[0], 'teamCrest', entry.title, 'team-bar__crest' ) }}
		{% endif %}
	</div>
</div>
<div class="container">
	{{ playersByPosition( goalkeepers, 'Goalkeepers' )}}
	{{ playersByPosition( defenders, 'Defenders' )}}
	{{ playersByPosition( midfielders, 'Midfielders' )}}
	{{ playersByPosition( forwards, 'Forwards' )}}
</div>
{% endblock %}