
{% macro image( file, size, default_alt_text, class ) -%}
	<img{% if class is not null %} class="{{ class }}"{% endif %} src="{{ file.getUrl( size ) }}" width="{{ file.getWidth( size ) }}" height="{{ file.getHeight( size ) }}" alt="{{ file.altText ? file.altText : default_alt_text }}">
{%- endmacro %}

{% macro imagePlaceholder( width, height, class ) -%}
	{%- set hex = ['aa','bb','cc','dd','ee'] -%}
	{%- set random_colour = random( hex ) ~ random( hex ) ~ random( hex ) -%}
	<img{% if class is not null %} class="{{ class }}"{% endif %} src="https://tools.ten4dev.com/placeholder/{{ width }}-{{ height }}-{{ random_colour }}" width="{{ width }}" height="{{ height }}" alt="Placeholder">
{%- endmacro %}

{% macro playersByPosition( players, position ) -%}
	{% import _self as utils %}
	<h2>{{ position }}</h2>
	<div class="row">
		{% for player in players %}
			<div class="col a3-12 b4-12 c6-12">
				{% if player.profilePhoto|length %}
					{{ utils.image( player.profilePhoto[0], 'profilePhoto', player.title ) }}
				{% endif %}
				<p class="p"><a href="{{ player.url }}">{{ player.title }}</a> - {{ player.totalPoints }}</p>
				{% if currentUser %}
					{% if player.currentOwner|length == 0 %}
						<form method="POST" accept-charset="UTF-8" action="">
							{{ getCsrfInput() }}
							<input type="hidden" name="action" value="leNurb/draft/draftPlayerIntoSquad">
							<input type="hidden" name="playerId" value="{{ player.slug }}">
							<button type="submit">Draft this player</button>
						</form>
					{% elseif player.currentOwner[0].id == currentUser.id %}
						<form method="POST" accept-charset="UTF-8" action="">
							{{ getCsrfInput() }}
							<input type="hidden" name="action" value="leNurb/draft/releasePlayerFromSquad">
							<input type="hidden" name="playerId" value="{{ player.slug }}">
							<button type="submit">Release this player</button>
						</form>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{%- endmacro %}
