{% from '_macros' import image %}
{% set page_title = 'Le Nurb League' %}
{% extends '_base' %}

{% block content %}
<div class="container">
	{% if currentUser %}
		{% set currentSquad = craft.entries.section( 'players' ).relatedTo( currentUser ) %}
		<h1>Welcome back {{ currentUser.firstName }}</h1>
		<h2>Your team:</h2>
		{% for player in currentSquad %}
			<p><a href="{{ player.url }}">{{ player.title }}</a></p>
		{% endfor %}
	{% else %}
		<form class="form" method="POST" accept-charset="UTF-8">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="users/login">
			<input type="hidden" name="redirect" value="{{ siteUrl }}">
			<label class="form__label" for="loginName">Username</label>
			<input class="form__text" id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}">
			<label class="form__label" for="password">Password</label>
			<input class="form__text" id="password" type="password" name="password">
			<div>
				<input type="checkbox" id="remember-me" name="rememberMe" value="1">
				<label class="form__label-checkbox" for="remember-me">Remember me</label>
			</div>
			<input class="form__button" type="submit" value="Login">
			{% if errorMessage is defined %}
				<p class="form__error">{{ errorMessage }}</p>
			{% endif %}
		</form>
	{% endif %}
</div>
{% endblock %}