{% extends "_layouts/cp" %}

{% set title = "Le Nurb League" %}

{% set content %}
<form method="POST" accept-charset="UTF-8" action="">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="leNurb/import/importAllPlayers">
	<button type="submit">Import players</button>
</form>
<br>
<form method="POST" accept-charset="UTF-8" action="">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="leNurb/import/importAllGameweeks">
	<button type="submit">Import gameweeks</button>
</form>
<br>
<form method="POST" accept-charset="UTF-8" action="">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="leNurb/import/importAllRealFixtures">
	<button type="submit">Import real-life fixtures</button>
</form>
<br>
<form method="POST" accept-charset="UTF-8" action="">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="leNurb/import/deleteAllRealFixtures">
	<button type="submit">Delete real-life fixtures</button>
</form>
<br>
<form method="POST" accept-charset="UTF-8" action="">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="leNurb/import/generateParticipantFixtures">
	<button type="submit">Generate participant fixtures</button>
</form>
{% endset %}